[submodule ".registry"]
	path = .registry
	url = https://github.com/cafri-labs/universe
	branch = HEAD
[submodule "terrainr"]
	path = terrainr
	url = https://github.com/ropensci/terrainr
[submodule "unifir"]
	path = unifir
	url = https://github.com/mikemahoney218/unifir
